<!DOCTYPE html>
<html lang="en">

<head>
  <script src="//cdn.optimizely.com/js/2428500854.js"></script>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Local Business Advertising! - DEALSBOX Merchant</title>
  <meta name="description" content="Create an offer to acquire new customers - An easy way for local bars, restaurants, spa, etc. to run deals">
  <meta name="keywords" content="living social,livingsocial merchants, groupon merchants unhappy,amazon local merchants, how do i create a groupon, how to offer a deal on groupon,groupon merchant center sign in,groupon merchant account login">
  <meta name="robots" content="index,follow">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/icons.css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/custom2.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">


</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <span class="header-image"></span>
  <div class="container">
    <div class="row header">
      <div class="twelve columns">
        <div class="row">
          <div class="seven columns">
            <div class="logo"><img src="/images/dealsbox_logo_200.png" width="150" alt=""> <i>Merchant</i></div>
          </div>

          <ul class="five columns">
            <li><a href="#app">The App</a></li>
            <li><a href="#how">How it works</a></li>
            <li><a href="#benefits">Benefits</a></li>
            <li class="login"><a href="/login">Log in</a></li>
          </ul>
        </div>

        <div class="row">
          <div class="six columns">
            <h3 class="blurb">Create a profitable deal to acquire new customers.</h3>
            <h6 style="font-size: 1.4em;">An easy way for local business to run deals.</h6>
            <small>Beauty Salons, Bars, Restaurants, Spa, etc. </small>
            <p><a class="button button-primary" href="/register">Get Started</a></p>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h4 class="center how-it-works" name="how">How it works</h4>
        <hr />
      </div>
    </div>
    <div class="row space">
      <div class="twelve columns">
        <div class="four columns">
          <h5><span class="badge">1</span>It's quick and easy</h5>
          <p>Log in to the dashboard and create a deal using the deal builder.</p>
        </div>
        <div class="four columns">
          <h5><span class="badge">2</span>Direct customers</h5>
          <p>Customers that are within 5 miles of your business location will see your deal on the DEALSBOX mobile app.
          </p>
        </div>
        <div class="four columns">
          <h5><span class="badge">3</span>No upfront payment</h5>
          <p>Customers can redeem your deal on their phone at your business location. No upfront payment required from customers.</p>
        </div>
      </div>
    </div>

    <div class="row space phone-container">
      <span class="phone-bg"></span>
      <div class="seven columns container-left" name="app">
        <h4>Be easily located by our customers</h4>
        <p>
          Our geo-location features allow our customers to find your deal with ease and redeem with their phone at your location.
        </p>
        <p>
          <a href="https://app.appsflyer.com/id944253010?pid=landing_page">
            <img src="https://dl.dropbox.com/s/le1m692ix9y6tlc/applestore.png?dl=0" alt="" width="150">
          </a>
          <a href="http://bit.ly/1iKdE8o">
            <img src="https://dl.dropbox.com/s/xfqdyqw1p44tkhw/googleplay.png?dl=0" alt="" width="150">
          </a>

        </p>
      </div>
      <div class="four columns container-right">
        <img src="/images/iphone-dealsbox" alt="">
      </div>
    </div>

    <div class="row space">
      <div class="seven columns">
        <img src="https://merchant.dealsbox.co/images/description.png" alt="" width="500">
      </div>
      <div class="five columns">
        <h4>Manage your deals effectively</h4>
        <p>
          Our intuitive dashboard will provide your business with the tools to create and manage deals and promotions.
        </p>
        <p>
          <a class="button button-primary button-success" href="/register">Get Started</a>
        </p>
      </div>
    </div>


    <div class="row space">
      <div class="twelve columns">
        <h4 class="center no-margin" name="benefits">Benefits</h4>
        <div class="center">One Price - $49.99 per month</div>
        <hr />
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <h5><img src="https://dealsbox.co/images/tags.png" /> Unlimited Deals</h5>
        <p>
          Make your business the go-to place in your industry for your neighborhood by creating an unlimited amount of different, fun deals everyone will look forward to!
        </p>
      </div>
      <div class="six columns">
        <h5><img src="https://dealsbox.co/images/moustache.png"> Post any type of deal</h5>
        <p>Whether you want to offer discounts in % or in $, you are welcome to do so on DEALSBOX. You can also advertise time-sensitive offers, like happy hour and other well-defined discounts.</p>
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <h5><img src="https://dealsbox.co/images/graph_rise.png" /> Keep 100% of your sales</h5>
        <p>
          When you are starting out or having a slow month, it’s tempting to pay for marketing with a percentage of your sales. But the problem is that most high-quality services and products don’t have huge profit margins, so 30% or more of already discount
          prices means practically nothing at the end. With DEALSBOX, you keep 100% of your money and the small monthly fee of $49.99 usually pays for itself with the first few clients you.
        </p>
      </div>
      <div class="six columns">
        <h5><img src="https://dealsbox.co/images/layers.png"> Free Deal Builder</h5>
        <p>
          Creating a deal using DEALSBOX deal builder is like a child’s game and may quickly become the easier and most fun part of your business. Play around with the options and the numbers, create a good description and start promoting – all within minutes.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <h5><img src="https://dealsbox.co/images/users.png"> Free Promotion</h5>
        <p>It is costly to create and promote your deal yourself, but as a technology platform, we take responsibility for marketing your business. To do that, we use multiple channels like our mobile app, social media, and e-mail marketing. Our audience
          is ever-growing and using our service regularly – you won’t find better.</p>
      </div>
      <div class="six columns">
        <h5><img src="https://dealsbox.co/images/bar_chart_1.png"> Merchant Dashboard</h5>
        <p>Tracking results are the key to success in any marketing strategy. When you use DEALSBOX, this is easier than you can ever imagine. Compare which deals worked best for your business and catch trends that could be useful for your long-term business
          goals.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns footer">
      <div class="center">&copy;2016 DEALSBOX Merchant - A product of DEALBOX LLC.</div>
    </div>
  </div>

  <div id='chat-center-widget' data-color='#DB462C' data-chat-id='/dealsbox'></div>
  <script>
    (function(d, s) {
      var js, cjs = d.getElementsByTagName(s)[0];
      js = d.createElement(s);
      js.src = '//chat.center/javascripts/widget.js';
      cjs.parentNode.insertBefore(js, cjs);
    }(document, 'script'));
  </script>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript">
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  </script>
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-6101640-30', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- test -->
  <script type="text/javascript">
    (function() {
      window._pa = window._pa || {};
      // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
      // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
      // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
      var pa = document.createElement('script');
      pa.type = 'text/javascript';
      pa.async = true;
      pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/56967399bbf59cb713000060.js";
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(pa, s);
    })();
  </script>
</body>

</html>